<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCT-yvbg7vHgH9VFiFB9b8M7FZWC9PDOQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>740813179457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vehicleNoAssignment</string>
	<key>PROJECT_ID</key>
	<string>vehicleno-fc165</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicleno-fc165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740813179457:ios:73b846230d827c54a8d4c0</string>
</dict>
</plist>